<p-treeTable [value]="sidebarItems"
             id="sidebarMenu"
             selectionMode="single"
             [(selection)]="selectedSidebarItem"
             [(contextMenuSelection)]="selectedSidebarItem"
             [contextMenu]="sidebarContextMenu"
             dataKey="name">
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode"
            [ttSelectableRow]="rowNode"
            [ttContextMenuRow]="rowNode"
            class="sidebar-item">
            <td style="padding: 0;" class="flex align-items-center">
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                {{rowData.name}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr *ngIf="newRootItemInputVisible">
            <td>
                <div class="p-inputgroup">
                    <input type="text"
                           #newRootItemInput
                           pInputText
                           class="p-inputtext-sm w-full"
                           placeholder="New Item"
                           [(ngModel)]="newRootItemInputValue"
                           (keydown.enter)="createNewRootItem()"
                           (keypress)="disableNewRootItemInputSelection()">
                    <button type="button" pButton icon="pi pi-times" (click)="cancelNewRootItem()"></button>
                </div>
            </td>
        </tr>
        <tr>
            <td class="p-0">
                <button pButton label="Add New" icon="pi pi-plus" class="p-button-text w-full text-left" (click)="addNewRoot()"></button>
            </td>
        </tr>
    </ng-template>
</p-treeTable>
<p-confirmDialog key="positionDialog" position="top-left" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-dialog header="Warning" [(visible)]="errorDialogVisible" position="top-left" [modal]="true" [draggable]="false" [resizable]="false">
    <p class="flex align-items-center"><i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i> <span class="ml-3">{{errorMessage}}</span></p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="errorDialogVisible=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<p-contextMenu #sidebarContextMenu [model]="sidebarContextMenuItems"></p-contextMenu>
