<p-orderList [value]="sidebarItems">
    <ng-template pTemplate="header">
        <div>
            <button pButton
                    label="Add New"
                    icon="pi pi-plus"
                    class="p-button-text w-full text-left"
                    (click)="addItemInputVisible = true">
            </button>
        </div>
        <div *ngIf="addItemInputVisible" class="p-inputgroup">
            <div class="p-inputgroup">
                <input type="text"
                       pInputText
                       placeholder="New Item"
                       class="p-inputtext-sm w-full"
                       (keydown.enter)="addItem(addItemInputValue)"
                       [(ngModel)]="addItemInputValue">
                <button type="button" pButton icon="pi pi-save" (click)="addItem(addItemInputValue)"></button>
                <button type="button" pButton icon="pi pi-times" (click)="addItemInputVisible = false;addItemInputValue=null;"></button>
            </div>
        </div>
    </ng-template>
    <ng-template let-sidebarItem pTemplate="item">
        <div (contextmenu)="openSidebarItemContextMenu($event, sidebarItemContextMenu, sidebarItem)" class="sidebar-item">
            <span>{{sidebarItem.name}}</span>
        </div>
    </ng-template>
</p-orderList>

<p-contextMenu #sidebarItemContextMenu appendTo="body" [model]="sidebarContextMenuItems"></p-contextMenu>

<p-confirmDialog key="confirmDialogSidebarDelete" rejectButtonStyleClass="p-button-outlined" acceptButtonStyleClass="p-button-danger"></p-confirmDialog>

<p-dialog header="Edit Sidebar Item" [(visible)]="modalSidebarItemEditVisible" [modal]="true" [draggable]="false" [resizable]="false">
    <div>
        <input type="text"
               pInputText
               placeholder="New Item"
               class="p-inputtext-sm w-full"
               (keydown.enter)="updateSidebarItem()"
               [(ngModel)]="selectedSidebarItem.name">
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="modalSidebarItemEditVisible=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="updateSidebarItem()" label="Save"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Warning" [(visible)]="errorDialogVisible" [modal]="true" [draggable]="false" [resizable]="false">
    <p class="flex align-items-center"><i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i> <span class="ml-3">{{errorMessage}}</span></p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="errorDialogVisible=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
