<p-tabView>
    <p-tabPanel [header]="tabItem.name" *ngFor="let tabItem of tabItems; let i = index" [selected]="tabItem.id == selectedTabItem.id">
        <ng-template pTemplate="header">
            <div class="tab-item-header" (contextmenu)="openTabItemContextMenu($event, tabItemContextMenu, tabItem)">
                {{tabItem.name}}
            </div>
        </ng-template>
        <div *ngIf="tabItem.id>0; else elseBlock">
            <p-tabView>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <div class="tab-item-header">
                            Preview
                        </div>
                    </ng-template>
                    <div class="ql-container ql-snow" style="border-width: 0;">
                        <div class="ql-editor" [innerHTML]="tabItem.content">
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <div class="tab-item-header">
                            Write
                        </div>
                    </ng-template>
                    <p-editor [(ngModel)]="tabItem.content" [style]="{'height':'600px'}">
                    </p-editor>
                    <div class="mt-2 text-right">
                        <button pButton label="Save" icon="pi pi-save" (click)="updateTabItemContent(tabItem)"></button>
                    </div>
                </p-tabPanel>
            </p-tabView>


        </div>
        <ng-template #elseBlock>
            <ng-template pTemplate="header" class="tab-item-header">
                <div class="tab-item-header">
                    <i class="pi pi-plus"></i>
                </div>
            </ng-template>
            <div class="p-inputgroup w-2">
                <input type="text"
                       pInputText
                       placeholder="Tab Name"
                       class="p-inputtext-sm"
                       [(ngModel)]="addTabInputValue"
                       (keydown.enter)="addNewTab(addTabInputValue)">
                <button pButton icon="pi pi-save" (click)="addNewTab(addTabInputValue)"></button>
            </div>
        </ng-template>
    </p-tabPanel>
</p-tabView>

<p-contextMenu #tabItemContextMenu appendTo="body" [model]="tabContextMenuItems"></p-contextMenu>

<p-dialog header="Edit Tab Item" [(visible)]="modalTabItemEditVisible" [modal]="true" [draggable]="false" [resizable]="false">
    <div>
        <input type="text"
               pInputText
               placeholder="New Item"
               class="p-inputtext-sm w-full"
               (keydown.enter)="updateTabItemHeader()"
               [(ngModel)]="selectedTabItem.name">
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="modalTabItemEditVisible=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" (click)="updateTabItemHeader()" label="Save"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Warning" [(visible)]="errorDialogVisible" [modal]="true" [draggable]="false" [resizable]="false">
    <p class="flex align-items-center"><i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i> <span class="ml-3">{{errorMessage}}</span></p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="errorDialogVisible=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
